@page
@model pruebacs1.Areas.Products.ProductsModel
@{
}
<div class="container">
    <div class=" form-group">
        <div class="table">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    <div class=" row">
                        <div class="col col-sm-4">
                            <p class="text-dark">Register Your Product</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4">
                            <p>Code</p>
                            <div class=" card">
                                <div class="card-header" id="headingOne">
                                    <div class="bg-info" id="header">
                                        <h2 class="mb-0 t">
                                            <button class="btn btn-link text-light text-capitalize"
                                                    type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                Input product
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>